html {
  background-image: url(http://i.imgur.com/b9r5sEL.jpg);
  background-position: bottom center;
  background-size: cover;
  font-size: 10px;
  text-transform: uppercase;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.key {
  display: block;
  width: 10rem;
  margin: 1rem;
  border: .43rem solid black;
  border-radius: .5rem;
  padding: 1rem 0.5rem;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-shadow: 0 0 0.5rem #000;
  text-align: center;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}