html {
  background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.clock {
  display: block;
  position: relative;
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 50px auto;
}

.clock-face {
  display: block;
  width: 28rem;
  height: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #018DED;
}

.hand {
  position: absolute;
  width: 50%;
  top: 50%;
  transform-origin: 100% center;
  transform: rotate(90deg);
  background-color: #000;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.07, 1.57, 0.58, 1);
}

.second-hand {
  width: 50%;
  height: 6px;
  left: 0;
  transform: translateY(-50%);
}

.min-hand {
  height: 8px;
  transform: translateY(-50%);
  width: calc(50% - 10px);
  left: 10px;
}

.hour-hand {
  height: 8px;
  transform: translateY(-50%);
  width: calc(50% - 50px);
  left: 50px;
}

.center {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}